@keyframes boxJumpAppear {
  from {
    transform: scale(0.1);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes stoneAppear {
  0% {
    transform: none;
  }

  25% {
    transform: translateX(4rem) rotate(30deg);
  }

  75% {
    transform: translateX(4rem) rotate(30deg);
  }

  100% {
    transform: none;
  }
}

@keyframes drowAnimate {
  0% {
    transform: translate(2rem, 5rem);
  }

  50% {
    transform: translate(2rem, 6rem);
  }

  100% {
    transform: translate(2rem, 5rem);
  }
}

.cfp {
  &-main-container {
    display: flex;
    justify-content: center;

    ::selection {
      background-color: $sitcon;
      color: $white;
    }
  }

  &-paper-container {
    background-color: $white;
    width: calc(85% - 16rem);
    padding: 2rem 8rem;
    box-shadow: 0 0 10pt rgba($black, .3);

    @media screen and (max-width: 900px) {
      padding: 2rem;
      width: calc(85% - 4rem);
    }

    @media screen and (max-width: 320px) {
      padding: 2rem;
      width: calc(100% - 4rem);
    }
  }

  &-header {
    display: flex;
    flex-direction: row;
    position: relative;

    @media screen and (max-width: 768px) {
      flex-direction: row-reverse;
    }

    .logo {
      width: 50%;
      padding: 2rem 0;
      position: relative;

      @media screen and (max-width: 768px) {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding: 0;
        height: 100%;
      }

      @media screen and (max-width: 560px) {
        width: 100%;
      }

      img {
        width: 60%;
        position: absolute;
        z-index: 1;

        @media screen and (max-width: 1360px) {
          width: 80%;
        }

        @media screen and (max-width: 768px) {
          width: 15rem;
        }

        @media screen and (max-width: 560px) {
          width: 10rem;
        }
      }

      .egg {
        position: absolute;
        width: 100px;
        margin: 12rem 0 0 8rem;
        z-index: 0;
        transition: all .3s;

        &.active {
          animation: stoneAppear 1s ease-in-out;
        }

        @media screen and (max-width: 1080px) {
          display: none;
        }
      }

      .paper {
        border: 5px solid $content;
        border-radius: 0 0 1rem 1rem;
        border-width: 0 5px 5px 5px;
        padding: 10pt;
        padding-top: 4rem;
        width: 10rem;
        transform: translate(2rem, 5rem);
        background-color: $white;
        cursor: pointer;

        @media screen and (min-width: 1280px) {
          &.active {
            animation: drowAnimate 1s ease-in-out;
          }
        }

        @media screen and (max-width: 1280px) {
          padding-top: 3rem;
        }

        @media screen and (max-width: 1080px) {
          transform: translate(1rem, 3rem);
          border-width: 0 4px 4px 4px;
          width: 8rem;
        }

        @media screen and (max-width: 768px) {
          background: none;
          transform: none;
          padding: 0;
          border: none;
          width: 100%;
          margin-top: auto;
          margin-bottom: 1rem;
          z-index: 1;
          text-align: center;
        }

        h1 {
          font-size: 36px;
          color: $sitcon;
          font-weight: 800;
          margin-bottom: 1rem;
          line-height: 1.4;

          @media screen and (max-width: 1080px) {
            font-size: 30px;
          }

          @media screen and (max-width: 768px) {
            margin-bottom: 3pt;

            br {
              display: none;
            }
          }

          @media screen and (max-width: 400px) {
            font-size: 24px;
          }
        }

        h3 {
          font-size: 24px;
          color: $content;

          @media screen and (max-width: 1080px) {
            font-size: 20px;
          }

          @media screen and (max-width: 400px) {
            font-size: 16px;
          }
        }
      }
    }

    .content {
      width: 50%;
      color: $content;

      @media screen and (max-width: 768px) {
        margin-top: 6rem;
        width: 100%;
        margin-bottom: 6rem;
      }

      h1 {
        font-size: 100px;
        font-weight: 800;
        line-height: 1.2;

        @media screen and (max-width: 1560px) {
          font-size: 90px
        }

        @media screen and (max-width: 1400px) {
          font-size: 80px
        }

        @media screen and (max-width: 1260px) {
          font-size: 60px
        }

        @media screen and (max-width: 800px) {
          font-size: 40px;
        }
      }

      .info-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4rem 0;

        @media screen and (max-width: 1260px) {
          margin: 2rem 0;
        }

        img {
          height: 6rem;

          @media screen and (max-width: 1260px) {
            height: 4rem;
          }

          @media screen and (max-width: 414px) {
            height: 3rem;
          }
        }

        h2 {
          margin-left: 4rem;
          font-size: 40px;
          font-weight: 600;

          @media screen and (max-width: 1560px) {
            font-size: 30px
          }

          @media screen and (max-width: 1400px) {
            margin-left: 3rem;
          }

          @media screen and (max-width: 1260px) {
            font-size: 24px;
            margin-left: 2rem;
          }

          @media screen and (max-width: 800px) {
            font-size: 20px;
            margin-left: 1rem;
          }
        }

        &.date h2 {
          font-size: 50px;

          @media screen and (max-width: 1260px) {
            font-size: 40px;
          }

          @media screen and (max-width: 800px) {
            font-size: 30px;
          }
        }
      }
    }

    &:after {
      display: block;
      position: absolute;
      bottom: 0;
      width: 40%;
      left: 30%;
      content: '';
      border: 3px solid $gray;
    }
  }

  &-content {
    color: $content;
    padding: 0 8rem;

    @media screen and (max-width: 1400px) {
      padding: 0;
    }

    h2 {
      font-weight: 600;
      font-size: 36px;
      margin: 3rem 0 2rem 0;

      @media screen and (max-width: 320px) {
        font-size: 32px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 24px;
      margin: 1rem 0;
    }

    ul,
    p {
      font-size: 16px;
      margin-bottom: 1rem;
      text-align: justify;
    }

    li {
      margin-left: 1.5rem;
      list-style-type: disc;

      @supports (-webkit-backdrop-filter: blur(1px)) {
        &:before {
          content: ' ';
        }
      }
    }

    a {
      color: $sitcon;
      text-decoration-color: transparent;
      font-weight: 700;

      &:hover {
        text-decoration-color: $sitcon;
      }
    }
  }

  &-action {
    margin: 5rem 0;
    padding: 0 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 1400px) {
      padding: 0
    }

    @media screen and (max-width: 1080px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
    }

    .button {
      margin: 2rem 0;
      border: 7px solid $gray;
      border-radius: 1.5rem;
      width: calc(300px - 20pt);
      padding: 10pt;
      color: $content;
      cursor: pointer;
      transition: all .3s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0 0 10pt rgba($black, .5);
      }

      @media screen and (max-width: 414px) {
        width: calc(100% - 2rem);
      }

      img {
        height: 7rem;
      }

      h2 {
        font-size: 30px;
        margin-bottom: 1rem;
        text-align: center;
        font-weight: 600;
      }
    }
  }

  &-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($white, .5);
    -webkit-backdrop-filter: blur(5px);

    .close {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }

    &-content {
      width: 60%;
      height: 50%;
      padding: 3rem;
      background-color: $white;
      box-sizing: border-box;
      box-shadow: 0 0 3rem rgba($black, .5);
      border: 5px solid $gray;
      color: $content;
      animation: boxJumpAppear .3s ease-in-out;
      position: relative;
      min-height: 400px;
      background-repeat: no-repeat;
      overflow: hidden;

      .cover-bg {
        position: absolute;
        width: 350px;
        right: 0;
        bottom: 0;
        z-index: 0;
      }

      .close-btn {
        position: absolute;
        right: 3rem;
        top: 3rem;
        z-index: 2;
        cursor: pointer;

        @media screen and (max-width: 475px) {
          right: 1.5rem;
          top: 1.5rem;

          img {
            height: 1.5rem;
            width: 1.5rem;
          }
        }

        img {
          height: 2rem;
          width: 2rem;
        }
      }

      @media screen and (max-width: 1400px) {
        width: 80%;
      }

      @media screen and (max-width: 900px) {
        padding: 3rem;
      }

      @media screen and (max-width: 475px) {
        padding: 1.5rem;
      }

      @media screen and (max-width: 414px) {
        height: auto;
      }


      .content {
        z-index: 1;
        position: relative;
      }

      h2 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 1;

        @media screen and (max-width: 414px) {
          font-size: 30px;
        }
      }

      p {
        font-size: 18px;

        @media screen and (max-width: 414px) {
          font-size: 16px;
        }

        &.split {
          margin: 2rem 0;
          display: inline-flex;
          flex-direction: column;
          width: 45%;

          span {
            font-size: 24px;
            margin-bottom: 1rem;
          }

          @media screen and (max-width: 675px) {
            width: 100%;
            margin: 0;
            margin-top: 1rem;
          }
        }
      }

      a {
        color: $sitcon;
        text-decoration-color: transparent;
        font-weight: 700;

        &:hover {
          text-decoration-color: $sitcon;
        }
      }
    }
  }
}
