$white: #FFFFFF;
$light: #F8F8F8;
$black: #282828;
$gray: #707070;
$dark: #54656e;
$sitcon: #92BB7F;
$tone_light: #fcf7ea;
$tone_dark: #9f9082;
$tone_paper: #f4f1ea;
$tone_hover: #f5dea6;
$tone_paper_dark: #b98b4f;
$tone_paper_light: #e4c37e;


$title: $dark;
$content: $gray;

$cfp_content: $gray;
