footer {
  &.main {
    background-color: $tone_dark;
    color: $content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      width: calc(800px - 1rem * 2);

      @media screen and (max-width: 900px) {
        width: calc(100% - 1rem * 2);
        align-items: flex-start;
        flex-direction: column;
        height: auto;
      }

      .info {
        margin: .5rem;

        @media screen and (max-width: 900px) {
          text-align: left;
        }

        p {
          font-size: 16px;
        }

        a {
          color: inherit;
          text-decoration-color: transparent;

          &:hover {
            text-decoration-color: $content;
          }
        }

        .icon {
          font-size: 2rem;
          margin: .5rem;
        }
      }

      &.year {
        .info {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        @media screen and (max-width: 900px) {
          display: none;
        }
      }
    }
  }

  &.cfp {
    height: 4rem;
    background-color: $cfp_content;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    @media screen and (max-width: 900px) {
      flex-direction: column;
      height: auto;
    }

    .info {
      margin: .5rem 1rem;

      @media screen and (max-width: 900px) {
        text-align: center;
      }

      p {
        font-size: 14px;
      }

      a {
        color: inherit;
        text-decoration-color: transparent;

        &:hover {
          text-decoration-color: $white;
        }
      }

      .icon {
        font-size: 1.4rem;
        margin: .5rem;
      }
    }
  }

  &#sponsor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $tone_spotlight;
    margin-top: 3rem;
    padding: 1rem 5rem;

    @media screen and (max-width: 1080px) {
      padding: 1rem;
    }

    .sponsor-img {
      width: calc((100% - 1rem * 16 - 4rem * 2) / 8);
      height: auto;
      margin: 1rem;

      @media screen and (max-width: 1080px) {
        width: calc((100% - 1rem * 16 - 0.5rem * 2) / 8);
      }

      @media screen and (max-width: 768px) {
        width: 120px;
        height: auto;
        margin: .5rem;
      }

      &.holder,
      &.co-holder,
      &.co-organizer,
      &.level-1 {
        width: calc((100% - 1.2rem * 12 - 4em * 2) / 6);
        height: auto;
        margin: 1.2rem;

        @media screen and (max-width: 1080px) {
          width: calc((100% - 1.2rem * 12 - 0.5rem * 2) / 6);
        }

        @media screen and (max-width: 768px) {
          width: 120px;
          height: auto;
          margin: .5rem;
        }
      }
    }
  }
}
