.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 64px 140px;
  margin-bottom: 0;
  padding: 0 32px;
  height: 80px;
  width: calc(100% - (140px + 32px) * 2);
  background-color: $tone_light;

  &-logo {
    width: 240px;
    margin-right: auto;

    @media screen and (max-width: 1500px) {
      margin-right: 400px;
    }

    @media screen and (max-width: 1366px) {
      margin-right: 200px;
    }

    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }

    a {
      color: $content;
      text-decoration: none;

      p {
        font-weight: 700;
        font-size: 28px;
      }
    }
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: calc(100% - 840px);

    @media screen and (max-width: 1500px) {
      width: calc(100% - 640px);
    }

    @media screen and (max-width: 1366px) {
      width: calc(100% - 440px);
    }

    @media screen and (max-width: 1200px) {
      width: calc(100% - 240px);
    }
  }

  &-item {
    height: 32px;
    width: auto;

    a {
      color: $content;
      text-decoration: none;

      p {
        font-weight: 500;
        font-size: 20px;
      }
    }
  }
}
