.landing-bg {
  overflow: hidden;
  content: '';
  position: fixed;
  width: 500vh;
  height: 500vh;
  top: -350vh;
  left: -216.5vh;
  z-index: -1;
  transform: rotate(-30deg);
  background-image: url('./assets/images/LandingBG.png');
  background-size: 500px;
}
