@keyframes popup {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.session {
  &-table {
    margin: auto;
    width: 1200px;
    display: grid;
    grid-template-columns: [time] 60px [R2] 1fr [R0] 1fr [R1] 1fr [R3] 1fr [S] 1fr [END];

    @media screen and (max-width: 1500px) {
      width: 100%;
    }

    @media screen and (max-width: 1440px) {
      width: 900px;
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &.mobile {
      width: 100%;
      display: flex;
      flex-direction: column;

      .session {
        text-align: left;
        align-items: flex-start;
        border: 0;
        grid-column-start: MOBILE_START !important;
        grid-column-end: MOBILE_END !important;

        &:not(&-time) {
          border-bottom: 1px solid $tone_session_dark;
        }

        .tag span {
          margin-left: 0;
        }

        &.session-time {
          height: 2.5rem;
          background-color: $tone_session_dark;
          color: $tone_back;

          p {
            position: relative;
          }
        }
      }
    }
  }

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid $tone_back;
  background-color: $tone_light;
  color: $content;
  z-index: 1;

  @media screen and (max-width: 900px) {
    text-align: left;
    align-items: flex-start;
    border: 0;
    grid-column-start: MOBILE_START !important;
    grid-column-end: MOBILE_END !important;
  }

  &:not(&-time) {
    @media screen and (max-width: 900px) {
      border-bottom: 1px solid $tone_session_dark;
    }
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: $tone_hover;
    }
  }

  &.hide {
    display: none;
  }

  &.blank-cover {
    z-index: 0;
  }

  .tag {
    span {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $tone_session_dark;
      color: $tone_back;
      padding: 1px 7px;
      margin: 3px;
      border-radius: 1rem;
      font-size: 14px;

      @media screen and (max-width: 900px) {
        margin-left: 0;
      }
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 500;
    white-space: pre-wrap;
  }

  &-time {
    grid-column-start: time;
    background-color: $tone_back;

    p {
      position: absolute;
      top: 0;
    }

    @media screen and (max-width: 900px) {
      height: 2.5rem;
      background-color: $tone_session_dark;
      color: $tone_back;

      p {
        position: relative;
      }
    }
  }

  &-room {
    background-color: $tone_back;

    p {
      position: absolute;
      bottom: 0;
    }
  }

  &-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popup .1s ease-in-out;
    animation-fill-mode: forwards;
    background-color: rgba($black, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    user-select: text;

    &-placeholder {
      height: calc(100vh - 10rem);
      width: 100%;
      padding-top: 10rem;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      color: $white;
      z-index: 10000;

      &::-webkit-scrollbar {
        display: none
      }

      @media screen and (max-width: 1024px) {
        padding-top: 5rem;
        height: calc(100vh - 5rem);
      }
    }

    &-close {
      position: absolute;
      height: 32px;
      width: 32px;
      top: calc(10rem - 32px);
      right: calc(20rem - 32px);
      cursor: pointer;
      z-index: 1;

      @media screen and (max-width: 1366px) {
        top: calc(10rem - 32px);
        right: calc(10rem - 32px);
      }

      @media screen and (max-width: 1024px) {
        top: 32px;
        right: 32px;
      }

      &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 0;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    &-container {
      width: calc(100% - 40rem);
      display: flex;
      flex-direction: column;
      position: relative;
      color: $white;
      z-index: 1;
      padding-bottom: 5rem;

      @media screen and (max-width: 1366px) {
        width: calc(100% - 20rem);
      }

      @media screen and (max-width: 1024px) {
        width: calc(100% - 10rem);
      }

      @media screen and (max-width: 768px) {
        width: calc(100% - 2rem);
      }

      h1,
      p {
        white-space: pre-wrap;
      }

      h1 {
        font-size: 30px;
        margin: 0 0 2rem 0;
        font-weight: 500;
      }

      p {
        font-size: 16px;
      }

      img {
        width: 320px;
        float: right;
        margin: 0 0 1rem 1rem;

        @media screen and (max-width: 768px) {
          width: calc(100% - 2rem);
          float: none;
          margin: 1rem;
        }
      }
    }

    &-content {
      margin-bottom: 5rem;

      @supports (-webkit-backdrop-filter: blur()) {
        &:last-child {
          padding-bottom: 5rem;
        }
      }
    }
  }
}
