.spotlight {
  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;

    @media screen and (max-width: 900px) {
      margin-top: 4rem;
    }

    &.card {
      margin-top: calc(8rem + 50px);
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;

      @media screen and (max-width: 900px) {
        margin-top: calc(4rem + 50px);
      }
    }
  }

  display: flex;
  flex-direction: column;
  width: calc(100% - 140px * 2);
  padding: 64px 140px;
  background-color: $tone_back;
  color: $content;

  @media screen and (max-width: 1000px) {
    width: 100%;
    padding: 0;
  }

  &.stagger {
    &:nth-child(odd) {
      background-color: $tone_back;
    }

    &:nth-child(even) {
      background-color: $tone_spotlight;
    }
  }

  &.card {
    margin: 50px 140px;
    padding: 0;
    box-shadow: 0 10px 10px 0 rgba($black, 0.15);

    @media screen and (max-width: 1200px) {
      margin: 16px;
      width: calc((100% - 16px * 2) / 2 - 16px * 3 / 2);
    }

    @media screen and (max-width: 690px) {
      margin: 16px;
      width: calc(100% - 16px * 2);
    }

    .card-container {
      box-sizing: border-box;
      border: 1px solid $gray;
      background-color: $tone_box_dark;
      display: flex;
      flex-direction: row;
      position: relative;
      height: 100%;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }

      .card-tag {
        position: absolute;
        height: 50px;
        right: -8px;
        top: 25px;

        @media screen and (max-width: 1200px) {
          top: 225px;
        }

        img {
          height: 100%;
        }
      }

      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }

      .logo-image {
        display: flex;
        height: auto;
        width: 350px;
        min-height: 300px;
        box-sizing: border-box;
        border-right: 1px solid $gray;
        background-color: $tone_box_light;
        background-size: 80% auto;
        background-position: center;
        background-repeat: no-repeat;

        @media screen and (max-width: 1200px) {
          border: 0;
          border-bottom: 1px solid $gray;
          min-height: auto;
          height: 250px;
          width: auto;
        }

        a {
            width: 100%;
            height: 100%;
            color: transparent;
        }
      }

      .content {
        width: calc(100% - 350px - 54px * 2);
        padding: 28px 54px;

        h1 {
          font-size: 28px;
          white-space: pre-wrap;
          font-weight: 700;

          @media screen and (max-width: 1200px) {
            font-size: 24px;

            &:before { /* additional wrapping rectangle */
              content: '\200b';
              display: inline-block;
              width: calc(166px - 1rem - 8px); /* taking offset into account */
              height: calc(25px - 1rem);
              float: right;
              margin: 0 0 1rem 1rem;
            }
          }
        }

        p {
          font-size: 20px;
          margin-bottom: 1rem;
          white-space: pre-wrap;

          @media screen and (max-width: 1200px) {
            font-size: 16px;
          }
        }

        @media screen and (max-width: 1200px) {
          width: auto;
          padding: 1rem;
        }
      }
    }
  }

  &.box {
    &-container {
      position: relative;
      padding: 2rem;
      margin-bottom: 2rem;

      &:before {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        left: calc(-140px + 2rem);
        height: 100%;
        width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/2019/static/img/sponsor-box-open.png');

        @media screen and (max-width: 1000px) {
          left: 0;
          background-image: none;
          background-color: $tone_box_dark;
        }
      }

      .content {
        z-index: 1;

        h1 {
          font-size: 30px;
          font-weight: 700;
        }

        p {
          font-size: 20px;
          margin-bottom: 1rem;

          img {
            float: right;
            max-width: 475px;
            border-radius: 1rem;

            @media screen and (min-width: 690px) {
              margin-left: 2rem;
            }

            @media screen and (max-width: 1440px) {
              max-width: 375px;
            }

            @media screen and (max-width: 690px) {
              max-width: 100%;
              width: 100%;
              float: none;
            }
          }
        }

        @media screen and (max-width: 1200px) {
          padding: 0;
        }
      }
    }
  }

  .content {
    padding: 0 140px;

    @media screen and (max-width: 900px) {
      padding: 2rem;
    }

    h1 {
      color: $title;
      font-size: 48px;
      margin-bottom: 24px;

      @media screen and (max-width: 1920px) {
        font-size: 36px
      }

      @media screen and (max-width: 1440px) {
        font-size: 28px
      }

      @media screen and (max-width: 900px) {
        margin-bottom: 12px;
      }
    }

    p {
      font-size: 30px;

      @media screen and (max-width: 1920px) {
        font-size: 24px
      }

      @media screen and (max-width: 1440px) {
        font-size: 20px
      }

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 500;
    }
  }
}
