.spotlight {
  &-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  display: flex;
  flex-direction: column;
  width: calc(100% - 140px * 2);
  padding: 64px 140px;
  background-color: $white;
  color: $content;

  @media screen and (max-width: 1200px) {
    width: 100%;
    padding: 0;
  }

  @media screen and (max-width: 900px) {
    margin-top: 4rem;
  }

  &.stagger {
    &:nth-child(odd) {
      background-color: $white;
    }

    &:nth-child(even) {
      background-color: $tone_paper;
    }
  }

  &.card {
    margin: 87px 140px;
    padding: 0;

    .card-container {
      box-sizing: border-box;
      border: 1px solid $gray;
      background-color: $white;
      display: flex;
      flex-direction: row;

      .logo-image {
        display: flex;
        height: 500px;
        width: 500px;
        box-sizing: border-box;
        border-right: 1px solid $gray;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .content {
        width: calc(100% - 500px - 96px * 2);
        padding: 48px 96px;

        h1 {
          font-size: 36px;
        }

        p {
          font-size: 24px;
        }
      }
    }
  }

  .content {
    padding: 0 140px;

    h1 {
      color: $title;
      font-size: 48px;
      margin-bottom: 24px;
    }

    p {
      font-size: 30px;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 500;
    }
  }
}
