@import 'reset.scss';
@import 'color';
@import 'font';
@import 'variable';
@import 'plugin';

@import 'cfp';
@import 'footer';
@import 'navbar';
@import 'spotlight';
@import 'session';

#app {
  width: 100%;
  min-height: 100vh;
}

.slide-left-enter,
.slide-right-leave-active {
  position: absolute;
  opacity: 0;
  transform: translateX(50%);
}

.slide-left-leave-active,
.slide-right-enter {
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);
}

body {
  &.popup-scrolling-lock {
    overflow: hidden;
  }
}
