@import 'reset.scss';
@import 'color';
@import 'font';
@import 'variable';
@import 'plugin';

@import 'cfp';
@import 'footer';
@import 'navbar';
@import 'spotlight';
@import 'session';

#app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  &.app-mode {
    .nav,
    #footer {
      display: none;
    }

    .spotlight-container {
      margin-top: 0;
    }

    #home > header {
      margin-top: 2rem;
    }
  }
}

.slide-left-enter,
.slide-right-leave-active {
  position: absolute;
  opacity: 0;
  transform: translateX(50%);
}

.slide-left-leave-active,
.slide-right-enter {
  position: absolute;
  opacity: 0;
  transform: translateX(-50%);
}

body {
  background-color: $tone_back;

  &.popup-scrolling-lock {
    overflow: hidden;
  }
}
